<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <script src="https://unpkg.com/dropbox/dist/Dropbox-sdk.min.js"></script>
    <title>Firma</title>
</head>

<body>
    <div id="header">
        <a href="index" id="firma">Firma</a>
        <div class="dropdown">
            <span>
                <svg width="60" height="45">
                    <rect x="5" y="5" rx="5" ry="5" width="50" height="10" fill="white" />
                    <rect x="5" y="20" rx="5" ry="5" width="50" height="10" fill="white" />
                    <rect x="5" y="35" rx="5" ry="5" width="50" height="10" fill="white" />
                </svg>
            </span>
            <div class="dropdown-content">
                <ul class="dropdown-list">
                    <li class="button"><a href="index">Homepage</a></li>
                    <li class="button"><a href="formular">Formular</a></li>
                    <li class="button"><a href="index#about">Über uns</a></li>
                    <li class="button"><a href="index#footer">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="paralax main">
        <div class="phrase">
            <h1>Herzlich willkommen an Firma</h1>
        </div>
    </div>



    <div class="content" id="content">
        {% for item in data %}
        <div id="karriere" class="stellenanzeige {{item.Tags}}">
            <div class="ueberschrift">
                <h2>{{item.Name}}</h2>
            </div>
            <div class="unterueberschrift">
                <p>Standorte: {{item.Standort}}</p>
            </div>
            <div class="karriereBox">
                <div class="stellenanzeigeLinks">
                    <img src="Bilder/{{item.Bild}}" alt="{{item.Bild}}">
                </div>
                <div class="stellenanzeigeRechts">
                    <h2>
                        {{item.Beschreibung}}
                    </h2>
                    <p><b>Deine Aufgaben:</b></p>
                    <ul>
                        {% for Aufgabe in item.Aufgaben.split("\n") %}
                        <li>{{Aufgabe}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="Eigenschaften">
                <h2><b>Das solltest du mitbringen:</b></h2>
                <ul>
                    {% for Eigenschaft in item.Eigenschaften.split("\n") %}
                    <li>{{Eigenschaft}}</li>
                    {% endfor %}
                </ul>
                <h2>Wir konnten dein Interesse wecken? Dann möchten wir Dich für uns gewinnen! Bewirb dich unter
                    hr@b-a-e.eu!</h2>
            </div>
        </div>
        {% endfor %}
    </div>


    <div class="paralax"></div>
    <div class="content" id="footer">
        <h1>Kontakt</h1>
        <p>Telefonnummer</p>
        <p>E-mail</p>
        <p>Adresse</p>
    </div>


</body>

</html>
